/**
 * Infinitum Spacing
 */
.fl-field[data-type="infinitum-spacing"] .fl-field-label label {
	padding-right: 35px;
}
.fl-field[data-type="infinitum-spacing"] .fl-field-control-wrapper {
	display: flex;
}
.fl-field[data-type="infinitum-spacing"] .fl-field-description {
	padding: 9px 0 0 5px;
}
.fl-field[data-type="infinitum-spacing"] .fl-field-responsive-setting {
	width: 100%;
}
.infinitum-spacing-field-units {
	border-radius: var(--fl-builder-radius);
	box-shadow: var(--fl-builder-input-shadow);
	display: flex;
	height: var(--fl-builder-target-size);
	margin: 1px 1px 20px 1px;
	position: relative;
	width:100%;
}
.infinitum-spacing-field-units > * {
	flex: 1 1 auto;
	border-right: 1px solid var(--fl-builder-outline-color);
	width: 100%;
}
.infinitum-spacing-field-units > *:last-child {
	border-right: none;
}
body .infinitum-spacing-field-units > *:first-child > select {
	border-top-left-radius: var(--fl-builder-radius) !important;
	border-bottom-left-radius: var(--fl-builder-radius) !important;
}
body .infinitum-spacing-field-units > *:last-child > select {
	border-top-right-radius: var(--fl-builder-radius) !important;
	border-bottom-right-radius: var(--fl-builder-radius) !important;
}
.infinitum-spacing-field-unit select {
	box-shadow: none !important;
	margin: 0 !important;
	border-radius:0px !important;
	display: flex;
	align-items: center;
}
.infinitum-spacing-field-unit select {
	width: 100% !important;
}
.infinitum-spacing-field-unit label {
	padding: 5px 0 0;
	font-size: 11px;
	font-weight: bold;
	color: inherit !important;
	display: block;
	text-align: center;
	opacity: 0.5;
	min-height: 0;
}
.infinitum-spacing-field-unit .fl-field-popup-slider {
	margin-top: 27px;
}

/**
 * Infinitum Spacing Icons
 */
.fl-builder-settings-fields .infinitum-spacing-field-unit label.icon {
	border: 2px solid #888;
	border-radius: 0;
	margin-left: auto;
	margin-right: auto;
	width: 8px;
	height: 2px;
	margin-top: 6px;
}
.fl-builder-settings-fields .infinitum-spacing-field-unit label.icon.top {
	border-top-width: 4px;
}
.fl-builder-settings-fields .infinitum-spacing-field-unit label.icon.right {
	border-right-width: 4px;
	height: 4px;
}
.fl-builder-settings-fields .infinitum-spacing-field-unit label.icon.bottom {
	border-bottom-width: 4px;
}
.fl-builder-settings-fields .infinitum-spacing-field-unit label.icon.left {
	border-left-width: 4px;
	height: 4px;
}