.editor-styles-wrapper div.wp-block-infinitum-drawer {
	color: inherit !important;
	background: transparent !important;
}

.wp-block-infinitum-drawer {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.wp-block-infinitum-drawer--sibling-close-button {
	display: grid;
	grid-template-areas:
		"button";
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.wp-block-infinitum-drawer__button--close-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-end;
}
.wp-block-infinitum-drawer__button {
	border:none;
	display: flex;
	grid-area: button;
	color: inherit;
	flex-direction: column;
	align-items: center;
	background-color:transparent;
}
.wp-block-infinitum-drawer__button[disabled="true"] {
	display: none;
}
.wp-block-infinitum-drawer__button:focus,
.wp-block-infinitum-drawer__button:hover {
	cursor: pointer;
}

.wp-block-infinitum-drawer__button-icon {
	display: block;
	fill: currentColor;
}

.wp-block-infinitum-drawer__button-label {
	display: inline-block;
}

.wp-block-infinitum-drawer__modal {
	position: fixed;
	padding-top: var(--wp--preset--spacing--1);
	padding-bottom: var(--wp--preset--spacing--1);
	color: initial;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.wp-block-infinitum-drawer__modal :where(a) {
	color: initial;
}
.editor-styles-wrapper .wp-block-infinitum-drawer__modal {
	display:none;
}

.wp-block-infinitum-drawer__modal .wp-block-navigation__container,
.wp-block-infinitum-drawer__modal .wp-block-navigation__submenu-container {
	row-gap: 0;
}
.wp-block-infinitum-drawer__modal .wp-block-navigation-item__content {
	padding: var(--wp--preset--spacing--1-4) 0;
}
.wp-block-infinitum-drawer__modal .wp-block-navigation__submenu-container .wp-block-navigation-item__content {
	padding: var(--wp--preset--spacing--1-4);
}