.jrd-additional-featured-image-meta-box {
	position: relative;
}
.jrd-additional-featured-image-meta-box + .jrd-additional-featured-image-meta-box {
	margin-top: 16px;
}
.jrd-additional-featured-image-meta-box > a,
.jrd-additional-featured-image-meta-box > button {
	margin: 1em 0;
	border: none;
	padding: 0;
	display: block;
	background-color: transparent;
}
.jrd-additional-featured-image-meta-box button:hover {
	cursor: pointer;
}
button.jrd-additional-featured-image__set {
	box-sizing: border-box;
	margin-bottom: 0;
	border-radius: 2px;
    padding: 8px 0;
    width: 100%;
	min-height: 40px;
    line-height: 20px;
    text-align: center;
    box-shadow: inset 0 0 0 1px #ccc;
}
button.jrd-additional-featured-image__set:focus,
button.jrd-additional-featured-image__set:hover {
	
}
.jrd-additional-featured-image__preview {
	margin: 0;
	padding: 0;
	border-radius: 2px;
	display: block;
	width: auto;
	height: auto;
	overflow: hidden;
}
.jrd-additional-featured-image__preview img {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: auto;
}
.jrd-additional-featured-image__actions {
	position: absolute;
	bottom: 0;
	padding: 8px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	gap: 8px;
	opacity: 0;
	box-sizing: border-box;
}
.jrd-additional-featured-image-meta-box:focus .jrd-additional-featured-image__actions,
.jrd-additional-featured-image-meta-box:focus-within .jrd-additional-featured-image__actions,
.jrd-additional-featured-image-meta-box:hover .jrd-additional-featured-image__actions {
	opacity:1;
}
.jrd-additional-featured-image__replace,
.jrd-additional-featured-image__remove {
	flex-grow: 1;
	justify-content: center;
	backdrop-filter: blur(16px) saturate(180%);
  	background: #ffffffbf;
}