<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group">
		<!-- wp:pattern {"slug":"infinitum/post-header-image"} /-->
		<!-- wp:post-title {"level":1} /-->
		<!-- wp:infinitum/breadcrumbs {"style":{"spacing":{"margin":{"top":"var:preset|spacing|1-2"}}},"fontSize":"90"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
	<!-- wp:template-part {"slug":"comments","tagName":"section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->